<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.abtech.xlinxutil">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <!-- Explicit apps you know in advance about: -->
        <package android:name="com.android.vending"/>
        <package android:name="com.google.android.gsf.login"/>
        <package android:name="com.google.android.gsf"/>
        <package android:name="com.google.android.gms"/>
        <package android:name="com.google.android.syncadapters.contacts"/>
        <package android:name="com.google.android.syncadapters.calendar"/>
        <package android:name="iig.xlinx.app"/>
    </queries>

    <application
        android:name=".AngApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/Theme.XLinXUtilities">
        <activity
            android:name=".XlinxInstallerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.XLinXUtilities.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


        <service
            android:name=".xray.service.V2RayVpnService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":RunSoLibV2RayDaemon">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>

        <service android:name=".xray.service.V2RayProxyOnlyService"
            android:exported="false"
            android:label="@string/app_name"
            android:process=":RunSoLibV2RayDaemon">
        </service>

        <receiver android:name=".xray.receiver.WidgetProvider"
            android:process=":RunSoLibV2RayDaemon">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.v2ray.ang.action.widget.click" />
                <action android:name="com.v2ray.ang.action.activity" />
            </intent-filter>
        </receiver>

        <service
            android:name=".xray.service.QSTileService"
            android:icon="@drawable/ic_v"
            android:label="@string/app_tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":RunSoLibV2RayDaemon">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <!-- =====================Tasker===================== -->
<!--        <activity-->
<!--            android:name=".ui.TaskerActivity"-->
<!--            android:icon="@mipmap/ic_launcher"-->
<!--            android:label="@string/app_name">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <receiver android:name=".xray.receiver.TaskerReceiver"
            android:process=":RunSoLibV2RayDaemon">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="id.abtech.xlinxutil.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sdk_provider_paths" />
        </provider>

    </application>

</manifest>